<div class="">
    <div class="logo container">
        <img src="././images/logo.png" alt="">
    </div>
    <div class="footernav">
        <div class="footerlinks container">
            <ul class="navbar-nav1">
                <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#competition">Competition</a></li>
                <li class="nav-item"><a class="nav-link" href="#about">About Us</a></li>
                <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
            </ul>
            <ul class="navbar-nav2">
                <li class="nav-item"><a class="nav-link" href="">FAQs</a></li>
                <li class="nav-item"><a class="nav-link" href="">Politicy Privacy</a></li>
                <li class="nav-item"><a class="nav-link" href="">Cookies</a></li>
            </ul>
        </div>
    </div>
    <div class="container foot">
        <div class="row">
            <div class="col">
                <p>Copyright | Yourname</p>
            </div>
            <div class="col d-flex justify-content-end foot-links">
                <a href="#" class="d-flex">@yourname</a>
                <a href="#" class="d-flex">@yourname</a>
                <a href="#" class="d-flex">@yourname</a>
            </div>
        </div>
    </div>
</div>