<div class="blog-wrapper">
    <div class="container">
        <h2 class="section-title text-center">Blog</h2>
        <div class="row">
            <div class="col">
                <div class="blog-image">
                    <img src="./images/about-img.jpg" alt="">
                </div>
                <h3 class="">Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                <a href="#"><button class="pink-button">Read More</button></a>
            </div>

            <div class="col">
                <div class="blog-image">
                    <img src="./images/blog2.jpg" alt="">
                </div>
                <h3 class="">Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                <a href="#"><button class="pink-button">Read More</button></a>
            </div>

            <div class="col">
                <div class="blog-image">
                    <img src="./images/blog3.jpg" alt="">
                </div>
                <h3 class="">Lorem ipsum dolor sit amet, consectetur adipisicing</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco</p>
                <a href="#"><button class="pink-button">Read More</button></a>
            </div>  
        </div>
    </div>
</div>