<div class="compete-wrapper d-md-flex container justify-content-between">
    <div class="left-section">
        <img src="../images/compete.jpg">
    </div>
    <div class="right-section">
        <h2 class="section-title text-right">Compete with us</h2>
        <p class="discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi</p>
        <a href="#contact"><button class="pink-button">Contact us</button></a>
    </div>
</div>