<div class="herosection-wrapper">
    <div class="d-md-flex container justify-content-between" style="height: 100%">
        <div class="left-section">
            <h2 class="uppercase text-white"><span>discover the </span><span>new sports</span><span> online</span></h2>
            <h5 class="uppercase">13 - 14 June Online Event</h5>
            <p class="uppercase">Lorem ipsum dolor sit amet, conse ctetur adipiscing elit,</p>
            <a href="#"><button class="pink-button">Read More</button></a>
        </div>
        <div class="right-section d-flex justify-content-end align-items-center">
            <img src="./images/hero-image.jpg">
        </div>
    </div>
</div>