<div class="team-wrapper container">
    <h2 class="section-title text-center">Our Team</h2>
    <div class="row mt-5">
        <div class="team-member col">
            <div class="profile-image">
                <img src="./images/team1.jpg" alt="">
            </div>
            <div class="team-member-detail">
                <h3 class="text-center">Lorem ipsum dolor <br/>sit amet,</h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
            </div>
        </div>
        <!--  -->
        <div class="team-member col">
            <div class="profile-image">
                <img src="./images/team2.jpg" alt="">
            </div>
            <div class="team-member-detail">
                <h3 class="text-center">Lorem ipsum <br/>dolor</h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
            </div>
        </div>
        <!--  -->
        <div class="team-member col">
            <div class="profile-image">
                <img src="./images/team3.jpg" alt="">
            </div>
            <div class="team-member-detail">
                <h3 class="text-center">Lorem ipsum <br/>dolor</h3>
                <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
            </div>
        </div>
    </div>
</div>