<div class="training-wrapper d-flex container justify-content-between">
    <div class="left-section">
        <h2 class="section-title">Our <br/> Training</h2>
        <p class="discription">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis </p>
        <a href="#"><button class="pink-button">Read More</button></a>
    </div>
    <div class="right-section d-flex justify-content-end">
        <img src="../images/hero-image.jpg">
    </div>
</div>